.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
board-admin-frontend/node_modules
src/main/resources/static/
src/main/resources/templates/
board-admin-api/src/main/java/com/example/board/application/
board-admin-api/src/main/resources/static/
board-admin-api/src/main/resources/templates/
board-common/src/main/resources/static/
board-common/src/main/resources/templates/
board-user-api/
board-admin-api/src/main/java/com/example/user/application/
